<DOCTYPE html>
<html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="page-header">
      <h1>Go Code club</h1>
    </div>
    <section>
      <div class="alert alert-success">
        <h2>Hola <small>{{.}}</small></h2>
      </div>
    </section>
  </body>
</html>
