	    <span><img src="/img/run-trans.png"/></span>
	    <h2>Go Code Club</h2>
	    <div class="box">
		    <form role="form" action="/login" method="POST">
		        <input type="text" name="username" placeholder="username">
			    <input type="password" name="password" placeholder="password">
			    <button class="btn btn-default full-width"><span class="glyphicon glyphicon-ok"></span></button>
			</form>
	    </div>
